<configuration>
	<appSettings>
		<add key="AttendanceSystemServerBaseURL" value="http://127.0.0.1:8088" />
		<add key="HttpTimeout" value="4000" />
		<add key="LoginApiPath" value="/attendance/login" />
		<add key="LogoutApiPath" value="/attendance/logout" />
		<add key="GetAllAttendanceRecordsAPIPath" value="/attendance/records/all" />
		<add key="GetUserAttendanceRecordsAPIPath" value="/attendance/records" />
		<add key="COMPortNo" value="3" />
		<add key="VoiceSystemServerBaseURL" value="http://10.201.142.84:9090" />
		<add key="VoiceOutAPIPath" value="/voice" />
	</appSettings>
</configuration>